<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testing"  parallel="methods" thread-count="2">
<listeners>
		<listener class-name="com.TestNG.test.ListenerClass" />
	</listeners>
 <test name="testngTest">
 <parameter name="name" value="Gunjan"/>
 <classes>
 <class name="com.TestNG.test.TestClass" >
 <methods>
 <include name="add"/>
 <include name="subtract"/>
 <include name="multiply"/>
 </methods>
 </class>
 </classes>
 </test>
</suite>